/*======BALSAMIQ FONT=======*/
@font-face {
    font-family: 'balsamiq_sansregular';
    src: url('../fonts/BalsamiqSans/balsamiqsansregular-webfont.woff2') format('woff2'),
         url('../fonts/BalsamiqSans/balsamiqsansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body    {
    font-family: 'balsamiq_sansregular';
    color: #000; 
}

#header-nav {
    background-color: #999999;
    border-radius: 0px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    min-height: 75px;
    margin-bottom: 0px;
}

div.container   {
    width: 100%
} 

.navebar-brand  {
    width: 200px;
    height: 70px;
}
#business   {
    text-transform: uppercase;
}

#company    {
    text-transform: capitalize;
    position: relative;
    bottom: 20px;
    margin-left: 15px;
}

#menu-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

#header-nav, #menu-title {
    font-weight: 900;
}

.navbar-nav {
    text-align: center;
    margin-top: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar   {
    border: 1px solid #000000;
}

button.navbar-toggle    {
    margin-top: 15px;
    margin-right: 20px;
}

ul li   {
    border-bottom: 2px solid #000000;
    text-transform: capitalize; 
}

ul li a     {
    font-size: 1.3em;
    color: #000;
}

section     {
    background-color: #999999;
    padding: 20px;
}

section h3  {
    text-transform: capitalize;
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
}

section a   {
    font-size: 16px;
    font-weight: 900;
    color: #0C5394;
}